<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chi tiết phim</title>
</head>
<body>
    <h1 th:text="${movie.movieName}"></h1>
    <p>Thể loại: <span th:text="${movie.movieGenres}"></span></p>
    <p>Mô tả: <span th:text="${movie.movieDescription}"></span></p>
    <p>Thời lượng: <span th:text="${movie.movieLength}"></span></p>

    <h2>Lịch chiếu</h2>
    <table>
        <thead>
            <tr>
                <th>Phòng chiếu</th>
                <th>Thời gian bắt đầu</th>
                <th>Thời gian kết thúc</th>
                <th>Đặt vé</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.room.roomName}"></td>
                <td th:text="${schedule.scheduleStart}"></td>
                <td th:text="${schedule.scheduleEnd}"></td>
                <td><a th:href="@{/booking/{scheduleId}(scheduleId=${schedule.scheduleId})}">Đặt vé</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
