<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách phim</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h1 class="text-center mt-4">Danh sách phim</h1>
        <div class="row">
            <div class="col-md-4" th:each="movie : ${movies}">
                <div class="card mb-4 shadow-sm">
                    <img th:src="${movie.moviePoster}" class="card-img-top" alt="Poster">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.movieName}"></h5>
                        <p class="card-text" th:text="${movie.movieGenres}"></p>
                        <a th:href="@{/movie/{id}(id=${movie.movieId})}" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
