<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chi tiết phim</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h1 th:text="${movie.movieName}"></h1>
                <p th:text="${movie.movieDescription}"></p>
                <h5>Lịch chiếu</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Phòng chiếu</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Đặt vé</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="schedule : ${schedules}">
                            <td th:text="${schedule.room.roomName}"></td>
                            <td th:text="${schedule.scheduleStart}"></td>
                            <td th:text="${schedule.scheduleEnd}"></td>
                            <td><a th:href="@{/booking/{scheduleId}(scheduleId=${schedule.scheduleId})}" class="btn btn-success">Đặt vé</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <img th:src="${movie.moviePoster}" class="img-fluid" alt="Poster">
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
