<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-07-2024</title>
    <link rel="stylesheet" href="src\main\java\resources\static\css\phimtheongay.css">
</head>
<body>
    <nav class="navbar">
        <div class="b1">
            <a href="../main.html"><i class="fa-solid fa-play"> VCC</i></a>
            <div>
                <p>TRUNG TÂM CHIẾU PHIM VIỆT NAM</p>
                <p>Vietnam Cinema Center</p>
            </div>
        </div>
        <div class="b2">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
    </nav>
    <header>
        
        <h1>Phim đang chiếu</h1>
        <div class="date-selector">
            <a href="./09-06-2024.html">09-06-2024</a>
            <a href="./10-06-2024.html">10-06-2024</a>
        </div>
        <p class="note">Lưu ý: Khán giả dưới 13 tuổi chỉ chọn suất chiếu kết thúc trước 22h và Khán giả dưới 16 tuổi chỉ chọn suất chiếu kết thúc trước 23h.</p>
        </header>
    <div class="container">
       
    <div class="movies">
        <div class="movie">
        <div class="h1">
        <a href="../listphim/ARKIE.html" ><img src="../asset/img/arkie.webp"></a></div>
        <div clss="H">
        <h3>ARKIE VÀ NGÀY MẶT TRỜI MẤT TÍCH- LỒNG TIẾNG<span class="D">2D</span></h3>
        <div class="h3">
            <a href="">Hoạt hình</a>
            <a href="">86 phút</a>
        
</div>
        <p>Xuất xứ: Mỹ</p>
        <p>Khởi chiếu: 24/05/2024</p>
        <p class="warning">Khuyến cáo: P - PHIM ĐƯỢC PHÉP PHỔ BIẾN ĐẾN NGƯỜI XEM Ở MỌI ĐỘ TUỔI.</p>
        <div class="lc">
        <b>Lịch chiếu</b><br><br>
        <a href="">9:45</a>
        <a href="">14:45</a>
        <a href="">19:35</a>
    </div>
    
</div>
</div>
<div class="movie">
    <div class="h1">
    <a href="../listphim/doraemon.html"><img src="../asset/img/doraemon.webp"></a></div>
    <div clss="H">
    <h3>PHIM ĐIỆN ẢNH DORAEMON: NOBITA VÀ BẢN GIAO HƯỞNG ĐỊA CẦU (Lồng Tiếng)-P<span class="D">2D</span></h3>
    <div class="h3">
        <a href="">Hoạt hình</a>
        <a href="">115 phút</a>
    
</div>
    <p>Xuất xứ: Nhật Bản</p>
    <p>Khởi chiếu: 24/05/2024</p>
    <p class="warning">Khuyến cáo: P - PHIM ĐƯỢC PHÉP PHỔ BIẾN ĐẾN NGƯỜI XEM Ở MỌI ĐỘ TUỔI.</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">12:00</a>
    <a href="">14:45</a>
    <a href="">19:35</a>
</div>

</div>
</div>
<div class="movie">
    <div class="h1">
    <a href="../listphim/haikyu.html"><img src="../asset/img/haikyu.webp"></a></div>
    <div clss="H">
    <h3>Haikyu!!: Trận Chiến Bãi Phế Liệu-P</h3>
    <div class="h3">
        <a href="">Hoạt hình</a>
        <a href="">85 phút</a>
    
</div>
    <p>Xuất xứ: Nhật Bản</p>
    <p>Khởi chiếu: 17/05/2024</p>
    <p class="warning">Khuyến cáo: P - PHIM ĐƯỢC PHÉP PHỔ BIẾN ĐẾN NGƯỜI XEM Ở MỌI ĐỘ TUỔI.</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">12:00</a>
    <a href="">14:45</a>
    <a href="">19:35</a>
</div>

</div>
</div>
<div class="movie">
    <div class="h1">
    <a href="#"><img src="../asset/img/ngai.webp"></a></div>
    <div clss="H">
    <h3>LUYỆN NGẢI: CÔ HỒN DẠ QUỶ - T18<span class="D">2D</span></h3>
    <div class="h3">
        <a href="">Kinh dị</a>
        <a href="">103 phút</a>
    
</div>
    <p>Xuất xứ: Thái Lan</p>
    <p>Khởi chiếu: 17/05/2024</p>
    <p class="warning">T18 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 18 TUỔI TRỞ LÊN (18+).</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">12:55</a>
    <a href="">21:45</a>
</div>

</div>
</div>
<div class="movie">
    <div class="h1">
    <a href="#"><img src="../asset/img/im1.png"></a></div>
    <div clss="H">
    <h3>NHỮNG GÃ TRAI HƯ: CHƠI HAY BỊ XƠI-T18 <span class="D">2D</span></h3>
    <div class="h3">
        <a href="">Hành động</a>
        <a href="">115 phút</a>
    
</div>
    <p>Xuất xứ: Mỹ</p>
    <p>Khởi chiếu: 07/06/2024</p>
    <p class="warning">T18 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 18 TUỔI TRỞ LÊN (18+).</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">19:00</a>
    <a href="">21:00</a>
</div>

</div>
</div>
</div>
<div class="movies">
    <div class="movie">
    <div class="h1">
    <a href="../listphim/khi.html"><img src="../asset/img/khi.webp"></a></div>
    <div clss="H">
    <h3>HÀNH TINH KHỈ: VƯƠNG QUỐC MỚI-T13<span class="D">2D</span></h3>
    <div class="h3">
        <a href="">Hành động</a>
        <a href="">138 phút</a>
    
</div>
    <p>Xuất xứ: Mỹ</p>
    <p>Khởi chiếu: 10/05/2024</p>
    <p class="warning">Khuyến cáo: T13 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 13 TUỔI TRỞ LÊN (13+)</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">9:45</a>
    <a href="">14:45</a>
    <a href="">19:35</a>

</div>

</div>
</div>
<div class="movie">
<div class="h1">
<a href="../listphim/ngoidenkiquai.html"><img src="../asset/img/i3.png"></a></div>
<div clss="H">
<h3>NGÔI ĐỀN KỲ QUÁI 4-T16<span class="D">2D</span></h3>
<div class="h3">
    <a href="">Kinh dị</a>
    <a href="">111 phút</a>

</div>
<p>Xuất xứ: Thái Lan</p>
<p>Khởi chiếu: 31/05/2024</p>
<p class="warning">Khuyến cáo: .T16 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 16 TUỔI TRỞ LÊN (16+)</p>
<div class="lc">
<b>Lịch chiếu</b><br><br>
<a href="">13:45</a>
<a href="">18:45</a>
<a href="">20:35</a>
</div>

</div>
</div>
<div class="movie">
<div class="h1">
<a href="../listphim/stalker.html"><img src="../asset/img/i6.png"></a></div>
<div clss="H">
<h3>STALKER: TỘI ÁC HOÀN HẢO - T16<span class="D">2D</span></h3>
<div class="h3">
    <!-- <a href="">Hành động</a> -->
    <a href="">103 phút</a>

</div>
<p>Xuất xứ: Mỹ</p>
<p>Khởi chiếu: 31/05/2024</p>
<p class="warning">T16 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 16 TUỔI TRỞ LÊN (16+).</p>
<div class="lc">
<b>Lịch chiếu</b><br><br>
<a href="">12:10</a>
<a href="">15:40</a>
<a href="">19:20</a>
</div>

</div>
</div>
<div class="movie">
<div class="h1">
<a href="#"><img src="../asset/img/loucha.webp"></a></div>
<div clss="H">
<h3>MÙA HÈ CỦA LUCA - P (Lông tiếng)<span class="D">2D</span></h3>
<div class="h3">
    <a href="">Hài, Hoạt hình</a>
    <a href="">95 phút</a>

</div>
<p>Xuất xứ: Mỹ</p>
<p>Khởi chiếu: 18/04/2024</p>
<p class="warning">P - PHIM ĐƯỢC PHÉP PHỔ BIẾN ĐẾN NGƯỜI XEM Ở MỌI LỨA TUỔI.</p>
<div class="lc">
<b>Lịch chiếu</b><br><br>
<a href="">19:00</a>
</div>
</div>
</div>
<div class="movie">
    <div class="h1">
    <a href="#"><img src="../asset/img/door.webp"></a></div>
    <div clss="H">
    <h3>DOOR - ĐỪNG MỞ CỬA - T18<span class="D">2D</span></h3>
    <div class="h3">
        <a href="">Hành động, Tâm lý</a>
        <a href="">92 phút</a>
    
</div>
    <p>Xuất xứ: Nhật Bản</p>
    <p>Khởi chiếu: 07/06/2024</p>
    <p class="warning">T18 - PHIM ĐƯỢC PHỔ BIẾN ĐẾN NGƯỜI XEM TỪ ĐỦ 18 TUỔI TRỞ LÊN (18+).</p>
    <div class="lc">
    <b>Lịch chiếu</b><br><br>
    <a href="">19:00</a>
    <a href="">23:00</a>
</div>

</div>
</div>

</div>
</div>
<script src="https://kit.fontawesome.com/3da37d66cd.js" crossorigin="anonymous"></script>
</body>
</html>