body{
    margin: 0;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.navbar {
    margin-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    backdrop-filter: blur(50px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Đảm bảo thanh menu luôn ở trên cùng */
}

.navbar.scrolled {
    opacity: 0.8; /* Mờ đi */
    box-shadow: 0 4px 8px rgba(178, 175, 175, 0.2); /* Thêm bóng */
}

.b1{
    display: flex;
    flex-direction: row;
    margin-left: 30px;  
}
.b1 i{
    color: #f3f3f3;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    margin-right: 10px;
    font-size: 1.2rem;
}
.b1 p{
    color: #f3f3f3;
    font-size: 1.2rem;
}

.b2 i{
    color: #f3f3f3;
    margin-right: 30px;
    font-size: 1.2rem;
}


header{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.date-selector a{
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 15%;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
.note{
    color: orange;
}
.container{
    display: flex;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
.movie{
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: calc(50% - 40px);
    border: 1px solid ;
    width: 600px;
}
.h1 img{
    width: 220px;
    height: 330px;
    border-radius: 8px;
    margin: -10px;
    margin-bottom: -14px;
}
.h1 a{
    text-decoration: none;
    color: #f5f2f2;
    font-weight: bold;
    padding-right: 20px;

}
.D {
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 40%;
    font-size: 10px;
    line-height: 1;
    vertical-align: middle;
}
.H{
    display: flex;
}

.h3{
    display: flex;
    
}
.h3 a{
    text-decoration: none;
    color: rgb(124, 123, 123);
    width: 150px;
}

.warning{
    color: red;
}

.lc a {
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    border: 2px solid white;
    border-radius: 20%;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
